خواندن فایل به صورت دیتافریم

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('chocolate.csv')
df.head()

,Company,Specific Bean\nOrigin,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,2016,63%,France,3.75,Blend,Sao Tome
1,A. Morin,Kpime,2015,70%,France,2.75,Blend,Togo
2,A. Morin,Atsane,2015,70%,France,3.00,Blend,Togo
3,A. Morin,Akata,2015,70%,France,3.50,Blend,Togo
4,A. Morin,Quilla,2015,70%,France,3.50,Blend,Peru

بررسی ابعاد دیتافریم

In [2]:
s = np.shape(df)
cols = df.columns
print(s)
print(cols)

(1795, 8)
Index(['Company', 'Specific Bean\nOrigin', 'Review\nDate', 'Cocoa\nPercent',
       'Company\nLocation', 'Rating', 'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

مرتب کردن اسم ستون ها

In [3]:
df.rename(columns={"Specific Bean\nOrigin":"Specific Bean Origin","Review\nDate":"Review Date","Cocoa\nPercent":"Cocoa Percent",
                                "Company\nLocation":"Company Location","Bean\nType":"Bean Type","Broad Bean\nOrigin":"Broad Bean Origin"}, inplace=True)
df.head()

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,2016,63%,France,3.75,Blend,Sao Tome
1,A. Morin,Kpime,2015,70%,France,2.75,Blend,Togo
2,A. Morin,Atsane,2015,70%,France,3.00,Blend,Togo
3,A. Morin,Akata,2015,70%,France,3.50,Blend,Togo
4,A. Morin,Quilla,2015,70%,France,3.50,Blend,Peru

نگاه کلی به دیتافریم

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1795 non-null   object
 1   Specific Bean Origin  1795 non-null   object
 2   Review Date           1795 non-null   int64
 3   Cocoa Percent         1795 non-null   object
 4   Company Location      1795 non-null   object
 5   Rating                1795 non-null   float64
 6   Bean Type             1795 non-null   object
 7   Broad Bean Origin     1794 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 112.3+ KB

تغییر مقدار ستون ها به رشته متنی

In [5]:
df[["Company","Specific Bean Origin","Cocoa Percent","Company Location","Bean Type","Broad Bean Origin"]] = df[["Company","Specific Bean Origin","Cocoa Percent","Company Location","Bean Type","Broad Bean Origin"]].astype('string')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1795 non-null   string
 1   Specific Bean Origin  1795 non-null   string
 2   Review Date           1795 non-null   int64
 3   Cocoa Percent         1795 non-null   string
 4   Company Location      1795 non-null   string
 5   Rating                1795 non-null   float64
 6   Bean Type             1795 non-null   string
 7   Broad Bean Origin     1794 non-null   string
dtypes: float64(1), int64(1), string(6)
memory usage: 112.3 KB

In [6]:
df['Cocoa Percent'] = df['Cocoa Percent'].str.replace("%","").astype(float)
df['Cocoa Percent']

0       63.0
1       70.0
2       70.0
3       70.0
4       70.0
        ...
1790    70.0
1791    65.0
1792    65.0
1793    62.0
1794    65.0
Name: Cocoa Percent, Length: 1795, dtype: float64

به درصد rating تبدیل مقادیر ستون

In [8]:
df['Rating'] = df['Rating'] * 20

df.head()

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,2016,63.0,France,75.0,Blend,Sao Tome
1,A. Morin,Kpime,2015,70.0,France,55.0,Blend,Togo
2,A. Morin,Atsane,2015,70.0,France,60.0,Blend,Togo
3,A. Morin,Akata,2015,70.0,France,70.0,Blend,Togo
4,A. Morin,Quilla,2015,70.0,France,70.0,Blend,Peru

محاسبه قیمت 100 گرم از هر نوع شکلات

In [9]:
df['price(100g)'] = 25 * df["Rating"] * df["Cocoa Percent"]
df

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,A. Morin,Agua Grande,2016,63.0,France,75.0,Blend,Sao Tome,118125.0
1,A. Morin,Kpime,2015,70.0,France,55.0,Blend,Togo,96250.0
2,A. Morin,Atsane,2015,70.0,France,60.0,Blend,Togo,105000.0
3,A. Morin,Akata,2015,70.0,France,70.0,Blend,Togo,122500.0
4,A. Morin,Quilla,2015,70.0,France,70.0,Blend,Peru,122500.0
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,2011,70.0,Austria,75.0,Blend,Peru,131250.0
1791,Zotter,Congo,2011,65.0,Austria,60.0,Forastero,Congo,97500.0
1792,Zotter,Kerala State,2011,65.0,Austria,70.0,Forastero,India,113750.0
1793,Zotter,Kerala State,2011,62.0,Austria,65.0,Blend,India,100750.0
1794,Zotter,"Brazil, Mitzi Blue",2010,65.0,Austria,60.0,Blend,Brazil,97500.0

جدا کردن شکلات های تلخ

In [10]:
dark_chocolates = df[df["Cocoa Percent"]>70].reset_index(drop=True)
dark_chocolates

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,Adi,"Vanua Levu, Toto-A",2011,80.0,Fiji,65.0,Trinitario,Fiji,130000.0
1,Adi,Vanua Levu,2011,88.0,Fiji,70.0,Trinitario,Fiji,154000.0
2,Adi,"Vanua Levu, Ami-Ami-CA",2011,72.0,Fiji,70.0,Trinitario,Fiji,126000.0
3,Akesson's (Pralus),"Bali (west), Sukrama Family, Melaya area",2011,75.0,Switzerland,75.0,Trinitario,Indonesia,140625.0
4,Akesson's (Pralus),"Madagascar, Ambolikapiky P.",2010,75.0,Switzerland,55.0,Criollo,Madagascar,103125.0
...,...,...,...,...,...,...,...,...,...
790,Zotter,Raw,2014,80.0,Austria,55.0,Blend,Other,110000.0
791,Zotter,"Bocas del Toro, Cocabo Co-op",2012,72.0,Austria,70.0,Blend,Panama,126000.0
792,Zotter,El Oro,2012,75.0,Austria,60.0,Forastero (Nacional),Ecuador,112500.0
793,Zotter,Huiwani Coop,2012,75.0,Austria,60.0,"Criollo, Trinitario",Papua New Guinea,112500.0
794,Zotter,El Ceibo Coop,2012,90.0,Austria,65.0,Blend,Bolivia,146250.0

بررسی وجود دانه ای خاص در شکلات ها

In [11]:
has_Trinitario = dark_chocolates["Bean Type"].str.contains("Trinitario")
has_Trinitario

0       True
1       True
2       True
3       True
4      False
       ...
790    False
791    False
792    False
793     True
794    False
Name: Bean Type, Length: 795, dtype: boolean

افزایش 10 درصدی شکلات های دارای دانه خاص

In [12]:
dark_chocolates.loc[has_Trinitario, 'price(100g)'] = dark_chocolates.loc[has_Trinitario, 'price(100g)'] * 1.1
dark_chocolates

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,Adi,"Vanua Levu, Toto-A",2011,80.0,Fiji,65.0,Trinitario,Fiji,143000.0
1,Adi,Vanua Levu,2011,88.0,Fiji,70.0,Trinitario,Fiji,169400.0
2,Adi,"Vanua Levu, Ami-Ami-CA",2011,72.0,Fiji,70.0,Trinitario,Fiji,138600.0
3,Akesson's (Pralus),"Bali (west), Sukrama Family, Melaya area",2011,75.0,Switzerland,75.0,Trinitario,Indonesia,154687.5
4,Akesson's (Pralus),"Madagascar, Ambolikapiky P.",2010,75.0,Switzerland,55.0,Criollo,Madagascar,103125.0
...,...,...,...,...,...,...,...,...,...
790,Zotter,Raw,2014,80.0,Austria,55.0,Blend,Other,110000.0
791,Zotter,"Bocas del Toro, Cocabo Co-op",2012,72.0,Austria,70.0,Blend,Panama,126000.0
792,Zotter,El Oro,2012,75.0,Austria,60.0,Forastero (Nacional),Ecuador,112500.0
793,Zotter,Huiwani Coop,2012,75.0,Austria,60.0,"Criollo, Trinitario",Papua New Guinea,123750.0
794,Zotter,El Ceibo Coop,2012,90.0,Austria,65.0,Blend,Bolivia,146250.0

مبلغ دریافتی از فروش این شکلات ها

In [13]:
priceSum = dark_chocolates["price(100g)"].sum()
priceSum

np.float64(96733662.5)

جداسازی شکلات های غیر تلخ

In [16]:
df = df[df["Cocoa Percent"]<=70].reset_index(drop=True)
df

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,A. Morin,Agua Grande,2016,63.0,France,75.0,Blend,Sao Tome,118125.0
1,A. Morin,Kpime,2015,70.0,France,55.0,Blend,Togo,96250.0
2,A. Morin,Atsane,2015,70.0,France,60.0,Blend,Togo,105000.0
3,A. Morin,Akata,2015,70.0,France,70.0,Blend,Togo,122500.0
4,A. Morin,Quilla,2015,70.0,France,70.0,Blend,Peru,122500.0
...,...,...,...,...,...,...,...,...,...
995,Zotter,Peru,2011,70.0,Austria,75.0,Blend,Peru,131250.0
996,Zotter,Congo,2011,65.0,Austria,60.0,Forastero,Congo,97500.0
997,Zotter,Kerala State,2011,65.0,Austria,70.0,Forastero,India,113750.0
998,Zotter,Kerala State,2011,62.0,Austria,65.0,Blend,India,100750.0
999,Zotter,"Brazil, Mitzi Blue",2010,65.0,Austria,60.0,Blend,Brazil,97500.0

به ازای هر شرکت، میانگین امتیاز شکلات های آن برای هرسال

In [17]:
companies = df.groupby(["Company","Review Date"])["Rating"].mean().unstack()
companies.head()

Review Date,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Company,,,,,,,,,,,,
A. Morin,NaN,NaN,NaN,NaN,NaN,NaN,72.5,66.363636,70.0,63.75,75.0,NaN
AMMA,NaN,NaN,NaN,NaN,77.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acalli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.00,NaN,NaN
Adi,NaN,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN
Aequare (Gianduja),NaN,NaN,NaN,57.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
companies.columns.name = None
companies.index.name = None

پیدا کردن بهترین شرکت ها، از سال 2012 به بعد

In [19]:
mean_ratings =companies[[2012,2013,2014,2015,2016,2017]].mean(axis=1)
mean_ratings

A. Morin                  69.522727
AMMA                            NaN
Acalli                    75.000000
Adi                             NaN
Aequare (Gianduja)              NaN
                            ...
Zokoko                    65.000000
Zotter                    69.285714
hello cocoa               55.000000
hexx                      60.000000
twenty-four blackbirds    65.000000
Length: 313, dtype: float64

In [20]:
a = mean_ratings.copy()
df_sorted = a.reset_index(name="ave")
df_sorted = df_sorted.sort_values(by=["ave","index"],ascending=[False,True])
best_ratings =df_sorted.set_index("index").head(10)["ave"]
best_ratings

index
Patric                     80.000000
Tobago Estate (Pralus)     80.000000
Willie's Cacao             80.000000
L.A. Burdick (Felchlin)    77.500000
Matale                     77.500000
Pacari                     77.500000
Valrhona                   76.666667
Acalli                     75.000000
Amedei                     75.000000
Askinosie                  75.000000
Name: ave, dtype: float64

پیدا کردن شکلات های 10 شرکت برتر

In [23]:
chocolates_to_sell = df[df["Company"].isin(best_ratings.index)]
chocolates_to_sell = chocolates_to_sell.reset_index(drop=True)
chocolates_to_sell

,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,Acalli,"Chulucanas, El Platanal",2015,70.0,U.S.A.,75.0,Blend,Peru,131250.0
1,Acalli,"Tumbes, Norandino",2015,70.0,U.S.A.,75.0,Criollo,Peru,131250.0
2,Amedei,"Piura, Blanco de Criollo",2012,70.0,Italy,75.0,Blend,Peru,131250.0
3,Amedei,Porcelana,2007,70.0,Italy,80.0,Criollo (Porcelana),Venezuela,140000.0
4,Amedei,Chuao,2007,70.0,Italy,100.0,Trinitario,Venezuela,175000.0
5,Amedei,Ecuador,2007,70.0,Italy,60.0,Trinitario,Ecuador,105000.0
6,Amedei,Jamaica,2007,70.0,Italy,60.0,Trinitario,Jamaica,105000.0
7,Amedei,Grenada,2007,70.0,Italy,70.0,Trinitario,Grenada,122500.0
8,Amedei,Venezuela,2007,70.0,Italy,75.0,Trinitario (85% Criollo),Venezuela,131250.0
9,Amedei,Madagascar,2007,70.0,Italy,80.0,Trinitario (85% Criollo),Madagascar,140000.0
10,Amedei,Trinidad,2007,70.0,Italy,70.0,Trinitario,Trinidad,122500.0
11,Amedei,Toscano Black,2007,63.0,Italy,70.0,Blend,Other,110250.0
12,Amedei,Toscano Black,2006,70.0,Italy,100.0,Blend,Other,175000.0
13,Amedei,Toscano Black,2006,66.0,Italy,80.0,Blend,Other,132000.0
14,Askinosie,Mababa,2016,68.0,U.S.A.,75.0,Trinitario,Tanzania,127500.0
15,Askinosie,Cortes,2011,70.0,U.S.A.,75.0,Trinitario,Honduras,131250.0
16,Askinosie,San Jose del Tambo,2007,70.0,U.S.A.,60.0,Forastero (Arriba),Ecuador,105000.0
17,L.A. Burdick (Felchlin),Brazil,2012,70.0,U.S.A.,80.0,Blend,Brazil,140000.0
18,L.A. Burdick (Felchlin),Chuao,2012,68.0,U.S.A.,75.0,Trinitario,Venezuela,127500.0
19,L.A. Burdick (Felchlin),Madagascar,2009,64.0,U.S.A.,70.0,Trinitario,Madagascar,112000.0
20,L.A. Burdick (Felchlin),Bolivian,2009,68.0,U.S.A.,60.0,Blend,Bolivia,102000.0
21,Matale,"Somia, 2013",2013,68.0,Australia,80.0,Trinitario,Madagascar,136000.0
22,Matale,Blend,2013,70.0,Australia,75.0,Trinitario,"PNG, Vanuatu, Mad",131250.0
23,Pacari,"Sierra Nevada, Tutu Iku",2016,70.0,Ecuador,80.0,Blend,Colombia,140000.0
24,Pacari,Garaua,2014,70.0,Ecuador,65.0,Blend,Ecuador,113750.0
25,Pacari,Cumbia,2014,70.0,Ecuador,70.0,Blend,Ecuador,122500.0
26,Pacari,Montubia,2014,70.0,Ecuador,75.0,Blend,Ecuador,131250.0
27,Pacari,Tangara,2014,70.0,Ecuador,80.0,Blend,Ecuador,140000.0
28,Pacari,Piura,2012,70.0,Ecuador,80.0,Blend,Peru,140000.0
29,Pacari,Nube- prototype,2011,70.0,Ecuador,70.0,Blend,Ecuador,122500.0
30,Pacari,Esmeraldas,2008,60.0,Ecuador,50.0,Forastero (Arriba),Ecuador,75000.0
31,Pacari,Manabi,2008,65.0,Ecuador,55.0,Forastero (Arriba),Ecuador,89375.0
32,Pacari,Raw,2008,70.0,Ecuador,70.0,Forastero (Arriba),Ecuador,122500.0
33,Patric,Signature Blend,2011,70.0,U.S.A.,75.0,Blend,Other,131250.0
34,Patric,Madagascar,2009,67.0,U.S.A.,70.0,Trinitario,Madagascar,117250.0
35,Patric,"Rio Caribe, Paria Penninsula",2009,70.0,U.S.A.,70.0,Trinitario,Venezuela,122500.0
36,Patric,Madagascar,2007,70.0,U.S.A.,80.0,Trinitario,Madagascar,140000.0
37,Patric,"Piura, Choc. Garage Exclusive",2013,67.0,U.S.A.,80.0,Blend,Peru,134000.0
38,Tobago Estate (Pralus),"Roxborough, Tobago",2012,70.0,France,80.0,Trinitario,Tobago,140000.0
39,Valrhona,"Piura, Illanka, Quemazon",2015,63.0,France,80.0,Blend,Peru,126000.0
40,Valrhona,"Andoa, Grand Cru blend",2013,70.0,France,70.0,Blend,Other,122500.0
41,Valrhona,"Loma Sotavento, 2013",2013,64.0,France,70.0,Blend,Dominican Republic,112000.0
42,Valrhona,"Otucan, Grand Cru",2012,69.0,France,80.0,Blend,Venezuela,138000.0
43,Valrhona,Caraque,2011,56.0,France,65.0,Blend,Other,91000.0
44,Valrhona,"Porcelana, Pedegral",2011,64.0,France,80.0,Criollo,Venezuela,128000.0
45,Valrhona,Tainori,2009,64.0,France,75.0,Blend,Dominican Republic,120000.0
46,Valrhona,Alpaco,2009,66.0,France,75.0,Blend,Ecuador,123750.0
47,Valrhona,Nyangbo,2009,68.0,France,70.0,Forastero,Ghana,119000.0
48,Valrhona,Chuao 2002 P.,2007,65.0,France,75.0,Trinitario,Venezuela,121875.0
49,Valrhona,Manjari,2007,64.0,France,80.0,"Criollo, Trinitario",Madagascar,128000.0
50,Valrhona,"Porcelana, Maracaibo, Palmira P. 2006",2007,64.0,France,65.0,Criollo (Porcelana),Venezuela,104000.0
51,Valrhona,Caraibe,2006,66.0,France,60.0,Trinitario,Carribean,99000.0
52,Valrhona,Guanaja,2006,70.0,France,80.0,"Criollo, Trinitario",South America,140000.0
53,Valrhona,Gran Couva 2005 P.,2006,64.0,France,50.0,Trinitario,Trinidad,80000.0
54,Valrhona,"Porcelana, Maracaibo, Palmira P. 2005",2006,64.0,France,60.0,Criollo (Porcelana),Venezuela,96000.0
55,Valrhona,"Sambirano, Ampamakia 2005, Millot P.",2006,64.0,France,70.0,Trinitario,Madagascar,112000.0
56,Willie's Cacao,Los Llanos,2016,70.0,U.K.,80.0,Blend,Colombia,140000.0
57,Willie's Cacao,Java,2010,69.0,U.K.,75.0,Blend,Indonesia,129375.0
58,Willie's Cacao,San Martin,2009,70.0,U.K.,60.0,Blend,Peru,105000.0